

<angular-slickgrid gridId="grid2"
                    [dataset]="dataset"
                    [columnDefinitions]="columnDefinitions"
                    [gridOptions]="gridOptions"
                    (onGridBeforeExportToFile)="processing = true"
                    (onGridAfterExportToFile)="processing = false"
                    (onGridBeforeExportToExcel)="processing = true"
                    (onGridAfterExportToExcel)="processing = false"
                    (onAngularGridCreated)="angularGridReady($event)">
</angular-slickgrid>
